/* all app scss styles here */

@import "compass/css3";
@import "compass/utilities";
@import "generated-colors";

// Custom import statements here.
@import "mixins";

// Color declarations goes here.

$red: $generated-color-1;
$nileblue: $generated-color-2;
$blackcurrant: $generated-color-3;
$black: $generated-color-4;
$white: $generated-color-5;


// Color variable assignments.
$color-accent: $red;
$color-primary: $nileblue;
$color-primary-dark: $blackcurrant;

// Text colors.
$color-text-body: $white;
$color-text-alternate: $black;

// Background fills colors.
.bg-accent {
  @include set-txt-color($color-text-body);
  background-color: $color-accent;
}
.bg-primary {
  @include set-txt-color($color-text-body);
  background-color: $color-primary;
}
.bg-primary-dark {
  @include set-txt-color($color-text-body);
  background-color: $color-primary-dark;
}
.bg-black {
  @include set-txt-color($color-text-body);
  background-color: $black;
}
.bg-white {
  @include set-txt-color($color-text-alternate);
  background-color: $white;
}

.dark {
  color: $color-primary-dark!important;
}

.red {
  color: $red;
}

.blue {
  color: $nileblue;
}
