// Color declarations goes here.

// Base color palette.
$red: rgb(253, 78, 78); // #fd4e4e
$nileblue: rgb(25, 70, 83); // #194653
$blackcurrant: darken(rgb(47, 42, 56), 10%); // #2f2a38
$black: rgb(26, 23, 31); // #1a171f
$white: rgb(237, 230, 220); // #ede6dc

// Color variable assignments.
$color-accent: $red;
$color-primary: $nileblue;
$color-primary-dark: $blackcurrant;

// Text colors.
$color-text-body: $white;
$color-text-alternate: $black;

// Background fills colors.
.bg-accent {
  @include set-txt-color($color-text-body);
  background-color: $color-accent;
}
.bg-primary {
  @include set-txt-color($color-text-body);
  background-color: $color-primary;
}
.bg-primary-dark {
  @include set-txt-color($color-text-body);
  background-color: $color-primary-dark;
}
.bg-black {
  @include set-txt-color($color-text-body);
  background-color: $black;
}
.bg-white {
  @include set-txt-color($color-text-alternate);
  background-color: $white;
}

.dark {
  color: $color-primary-dark!important;
}

.red {
  color: $red; 
}

.blue {
  color: $nileblue;
}
