// Only global layout styles in this file.

body {
  @extend .bg-black;

  > main {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
}

[class^="page-"]:not(.page-introduction) {
  padding-top: 2em;
  position: relative;
}

// Introduction page.
.page-introduction {

  .city-livery {
    overflow: hidden;
    position: relative;
    z-index: 0;
    @include set-txt-color($color-text-body);
    // @include background-image(linear-gradient(to bottom, $color-primary-dark, $black));
    @include background-image(radial-gradient(circle at 50% 90%, $color-primary-dark 10%, lighten($black, 15%)  ));

    .scroll {
      display: block;
      margin: auto;
    }

    > img[class^="stars"] {
      position: absolute;
      top: 0;

      &[class*="-high"] {
        opacity: 0.51;
      }
      &[class*="-middle"] {
        opacity: 0.62;
      }
      &[class*="-low"] {
        opacity: 0.22;
      }
    }

    .logo-container {
      width: 100%;
      margin: 0 auto;
      .logo {
        width: 100%;
      }
      .subtitle {
        text-align: center;
      }
    }

    h2.intro {
      position: relative;
      z-index: 1;
    }

    .skyline-container {
      width: 2400px;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      .skyline {
        width: 100%;

      }
    }
  }
}

.page-categories {
  @extend .bg-primary;
}

.page-gallery {
  @extend .bg-white;
}

.page-news {
  @extend .bg-white;
}

.page-video iframe,
.page-music iframe {
  padding-bottom: 2em;
}

.page-video {
  @extend .bg-primary;
  padding-bottom: 5em;
}

.page-music {
  @extend .bg-black;
  padding-bottom: 5em;
}

.footer {
  @extend .bg-black;
}
.page-contact {
  @extend .bg-accent;
}