// Base color palette.
$red: desaturate(rgb(253, 78, 78), 5%);
$nileblue: rgb(25, 70, 83); // #194653
$blackcurrant: darken(rgb(47, 42, 56), 10%); // #2f2a38
$black: rgb(26, 23, 31); // #1a171f
$white: rgb(237, 230, 220); // #ede6dc