// Styling of individual modules/widgets in this file.

.category-widgets {
  img {
    display:block;
    margin:auto;
  }

  blockquote {
    border-left: none;
  }
  footer {
    font-style: italic;
    color: $color-text-body;
    float: right;
  }
}

.ornament {
  z-index: 1;
  position: relative;
  height: 100px;
  width: 100%;
  background: transparent url("../images/ornament.png") no-repeat center center;
  background-size: 100%;
}

.scroll {
  position: fixed;
  top:1em;
  z-index: 1;
  cursor:pointer;
}

.next {
  left:1em;
}

.prev {
  right:1em;
}
