// Styling of individual modules/widgets in this file.

.category-widgets {
  img {
    display:block;
    margin:auto;
  }

  blockquote {
    border-left: none;
  }
  footer {
    font-style: italic;
    color: $color-text-body;
    float: right;
  }
}

.ornament {
  z-index: 1;
  position: relative;
  height: 100px;
  width: 100%;
  background: transparent url("../images/ornament.png") no-repeat center center;
  background-size: 100%;
}

.scroll {
  position: relative;
  cursor:pointer;
}

.next {
  position: fixed;
  z-index: 100;
  bottom:1em;
  right:1em;
}

.prev {
  position: fixed;
  z-index: 100;
  bottom:10em;
  right:1em;
}


.top-bar .name a { color: $white !important; }
.top-bar { background: $black; @include opacity(0.8); }
.contain-to-grid { background: $black; }
.top-bar ul li a { color: $white; background: $black !important; font-family: "Lovelo Black", Arial, sans-serif;}
.top-bar-section ul li.active > a { background: $black !important; }
.top-bar-section ul li.active > a:hover { color: $white !important; background:#21c5ed !important; }
.top-bar-section li a:not(.button):hover { color: $white; background:$nileblue !important; }
