// Navigation

.top-bar-section {
  position: fixed;
  top:0;
  right:0;
  background:black;


  ul {
    background:black!important;
    li {
      padding-right: 1em;
      background:black;
      a{
        background:black!important;
      }
    }
  }

  
}