.page-categories
  .skew
  .category-widgets
    br
    br
    .row
      .columns.small-10.small-centered.clearfix
        h2 Musikken
        br
        .columns.small-12.medium-6.bg-primary.category-widget
          include ratpack
        .columns.small-12.medium-6.bg-primary.category-widget
          include lindyhop
  br
  include:markdown ../pages/categories.md
  br
  br