.category-widgets
  br
  .row
    br
    .columns.small-10.small-centered.clearfix
      .columns.small-12.medium-6.bg-primary
        include ratpack
      .columns.small-12.medium-6.bg-primary
        include lindyhop
br