.category-widgets
  .row
    br
    .columns.small-12.small-centered.clearfix
      .columns.small-12.medium-6.bg-primary
        include ratpack
      .columns.small-12.medium-6.bg-primary
        include ratpack