.category-widgets
  br
  br
  .row
    .columns.small-10.small-centered.clearfix
      h2 Musikken
      br
      .columns.small-12.medium-6.bg-primary
        include ratpack
      .columns.small-12.medium-6.bg-primary
        include lindyhop
br