.city-livery
  img.stars-high(src="img/stars_high.png", alt="stars")
  img.stars-middle(src="img/stars_middle.png", alt="stars")
  img.stars-low(src="img/stars_low.png", alt="stars")
  .logo-container
    img.logo(src="img/logo.svg", alt="logo")
    h2.subtitle
      i: "Autentiske bigbandoplevelser"
  .skyline-container
    img.skyline(src="img/skyline_long.svg", alt="skyline")