.city-livery
  img.stars-high(src="images/stars_high.png", alt="stars")
  img.stars-middle(src="images/stars_middle.png", alt="stars")
  img.stars-low(src="images/stars_low.png", alt="stars")
  .row
    .columns.small-8.small-centered
      .logo-container
        h1.logo High T Band
        h2.subtitle
          i "Autentiske bigbandoplevelser"
      img.scroll(src="images/scroll.png", alt="scroll")
      h2.intro RATPACK + LINDY HOP
      .columns.small-9.small-centered
        .ornament
  .skyline-container
    img.skyline(src="images/skyline_long.svg", alt="skyline")
  .row
    .columns.small-8.small-centered.clearfix
      .columns.small-12.intro-text
        include:markdown ../pages/introduction.md