.main
  .page-introduction
    include city-livery
  .page-categories
    include categories
    include:markdown ../pages/categories.md
  .page-gallery
    h2 Gallery
  .page-repertoire
    include:markdown ../pages/repertoire.md
  .page-contact
    h2 Contact
    .mail-form.row
      .columns
        include mail-form
