main
  .page-introduction
    include city-livery
    include:markdown ../pages/introduction.md
  .page-categories
    include:markdown ../pages/categories.md
  .page-gallery
    h2 Gallery
  .page-repetoire
    include:markdown ../pages/repetoire.md
  .page-contact
    h2 Contact
    .mail-form.row
      .columns
        include mail-form
