.page-contact
  .skew.hide-for-small-only
  .row
    .colums.small-12.small-centered.text-center
      h2 Kontakt
      .columns.small-8.medium-5.small-centered
        .ornament.hide-for-small-only

    .colums.small-12.small-centered
      .columns.small-12.medium-7.small-centered.text-center
        p
          strong Benny Nielsen : 
          a(href="tel:23839090")
            i.fa.fa-phone  23839090 
        p
          strong Jacob Søborg Andersen : 
          a(href="tel:30338122")
            i.fa.fa-phone  30338122 
        p
          strong Mail : 
          include mail-link.html
    br