.main
  include navigation
  .page-introduction
    include city-livery
  .page-categories
    include categories
    include:markdown ../pages/categories.md
  .page-gallery
    include gallery
  .page-repertoire
    br
    br
    include:markdown ../pages/repertoire.md
  .page-contact
    br
    br
    h2 Contact
