.page-contact
  .skew.hide-for-small-only
  .row
    .colums.small-12.small-centered.text-center
      h2 Kontakt
  hr
  .row
    .colums.small-12.small-centered.text-center
      br
      .columns.small-8.medium-6.small-centered
        p
          strong Benny Nielsen : 
          a(href="tel:23839090")
            i.fa.fa-phone  23839090 
        .ornament
        br
        p
          strong Jacob Søborg Andersen : 
          a(href="tel:30338122")
            i.fa.fa-phone  30338122 
        br
        .ornament
        p
          strong Mail : 
          include mail-link.html