.page-contact
  .skew
  .row
    .colums.small-12.small-centered.text-center
      br
      br
      br
      h2 Kontakt
      .columns.small-5.small-centered
        .ornament
      p BESKED TIL HIGH T
      include foxy-form.html
        
