.page-contact
  .skew
  .row
    .colums.small-12.small-centered
      br
      br
      h2 Kontakt
      .columns.small-centered.small-12.text-center
        h3 BESKED TIL HIGH T
        //- i.fa.fa-hand-o-down.fa-3x.dark
        
