main
  .page-introduction
    include city-livery
    include:markdown ../pages/introduction.md
  .page-categories
    include:markdown ../pages/categories.md
  .page-gallery
    h2 Gallery
  .page-repertoire
    include:markdown ../pages/repertoire.md
  .page-contact
    h2 Contact
