.page-contact
  .skew.hide-for-small-only
  .row
    .colums.small-12.small-centered.text-center
      br
      br
      br
      h2 Kontakt
      br
      .columns.small-8.medium-5.small-centered
        strong
          p Benny Nielsen : 
            a(href="tel: 23839090")
              i.fa.fa-phone  23839090
        .ornament
        br
        strong
          p Jacob Søborg Andersen : 
            a(href="tel: 30338122")
              i.fa.fa-phone  30338122
        br