.page-gallery
  br
  br
  h2 Koncert-stemning&hellip;
  br
  //- 1x2-singer1 1x2-singer2

  //-      2x1-trompeter4 -2x1-trompeter3 

  #freewall.free-wall
      .item.size22.level1
        i.tile-square-singer1(title="Jacob")
          .text-bottom
            h2 Jump, jive and wail!
      .size22.level1(data-nested='.size11', data-cellw='150', data-cellh='150', data-gutterx='10')
        .item.size11
          i.tile-square-alto1
            .text-bottom
              h5 Saxomophone!
        .size11(data-fixsize='0', data-nested='.size2-2', data-cellw='70', data-cellh='70', )
          .item.size2-2
            i.tile-square-alto3
              .text-bottom
                  p The saxman!
          .item.size2-2
            i.tile-square-tenor
              .text-bottom
                p Play da horn!
          .item.size2-2
            i.tile-square-singer1
              .text-bottom
                p sing, sing, sing!
          .item.size2-2
            i.tile-square-guitar4
              .text-bottom
                p Strings attached!
        .item.size11
          i.tile-square-guitar3
            .text-bottom
              h3 Swinging guitar!
        .item.size11
          i.tile-square-tenor3
            .text-bottom
              h3 tough tenor!
        .item.size11
          i.tile-square-guitar2
            .text-bottom
              h3 Sploink!
        .item.size11
          i.tile-square-saxes1
            .text-bottom
              h3 Sax break!
      .item.size21.level1
        i.tile-2x1-trompeter4
          .text-bottom
            h3 Trumpets up!
      .item.size21.level1
        i.tile-2x1-sheetmusic
          .text-bottom
            h2 Do your homework!
      .size22.level1(data-nested='.size11', data-cellw='150', data-cellh='150', data-gutterx='10')
        .item.size11
          i.tile-square-tenor2
            .text-bottom
              h3 big boss tenor!
        .item.size11
          i.tile-square-drummer
            .text-bottom
              h3 cool drummer!
        .item.size11
          i.tile-square-bari1
            .text-bottom
              h3 Big horn!
        .item.size11
          i.tile-square-alto2
            .text-bottom
              h3 Silver sax!
        .item.size11
          i.tile-square-drummer2
            .text-bottom
              h3 Rhythm man
        .item.size11
          i.tile-square-guitar1
            .text-bottom
              h3 Flonk!
      .size22.level1(data-nested='.size12', data-cellw='150', data-cellh='300', data-gutterx='10')      
        .item.size12
          i.tile-1x2-bass1
            .text-bottom
              h3 Low End!
        .item.size12
          i.tile-1x2-singer2
            .text-bottom
              h3 Smile!
      .item.size21.level1
        i.tile-2x1-singer1
          .text-bottom
            h3 Front Man!
      .item.size21.level1
        i.tile-2x1-tromboner1
          .text-bottom
            h2 Slide trombones!
  p 
    - gpOutput::Get('Extra','more-about-gallery');
