.page-gallery
  .skew
  .row
    .small-12.columns
      .layout
          #freewall.free-wall
              .item.size22.level1
                .map
              .size22.level1(data-nested='.size11', data-cellw='150', data-cellh='150', data-gutterx='10')
                .item.size11
                  i
                .size11(data-fixsize='0', data-nested='.size2-2', data-cellw='70', data-cellh='70')
                  .item.size2-2
                    i
                  .item.size2-2
                    i
                  .item.size2-2
                    i
                  .item.size2-2
                    i
                .item.size11
                  i
                .item.size11
                  i
                .item.size11
                  i
                .item.size11
                  i
              .item.size21.level1
                i
              .item.size21.level1
                .freewall


              .size22.level1(data-nested='.size11', data-cellw='150', data-cellh='150', data-gutterx='10')
                .item.size11
                  i
                .item.size11
                  i
                .item.size11
                  i
                .item.size11
                  i
                .item.size11
                  i
                .item.size11
                  i
              .item.size22.level1
                .map
              .item.size21.level1
                i
              .item.size21.level1
                .freewall
