.page-gallery
  .row
    .columns
      br
      br
      h2 Billeder
      //- 1x2-singer1 1x2-singer2

      //-    2x1-trompeter2  2x1-trompeter4 -2x1-trompeter3 

      //-                
      .layout
          #freewall.free-wall
              .item.size22.level1
                i.tile-square-singer1
              .size22.level1(data-nested='.size11', data-cellw='150', data-cellh='150', data-gutterx='10')
                .item.size11
                  i.tile-square-alto1
                .size11(data-fixsize='0', data-nested='.size2-2', data-cellw='70', data-cellh='70')
                  .item.size2-2
                    i.tile-square-drummer
                  .item.size2-2
                    i.tile-square-tenor
                  .item.size2-2
                    i.tile-square-singer1
                  .item.size2-2.flexvideo
                    i.tile-square-guitar4
                .item.size11
                  i.tile-square-guitar3
                .item.size11
                  i.tile-square-tenor3
                .item.size11
                  i.tile-square-guitar2
                .item.size11
                  i.tile-square-saxes1
              .item.size21.level1
                i.tile-2x1-trompeter1
              .item.size21.level1
                i.tile-2x1-sheetmusic

              .size22.level1(data-nested='.size11', data-cellw='150', data-cellh='150', data-gutterx='10')
                .item.size11
                  i.tile-square-tenor2
                .item.size11
                  i.tile-square-drummer
                .item.size11
                  i.tile-square-bari1
                .item.size11
                  i.tile-square-alto2
                .item.size11
                  i.tile-square-drummer2
                .item.size11
                  i.tile-square-guitar1
              .item.size22.level1
                i.tile-square-alto3
              .item.size21.level1
                i.tile-2x1-tromboner1

              .item.size21.level1
                i.tile-2x1-singer1
