.page-introduction
  .city-livery
    img.stars-high(src="images/stars_high.png", alt="stars")
    img.stars-middle(src="images/stars_middle.png", alt="stars")
    img.stars-low(src="images/stars_low.png", alt="stars")
    .text-right
      .fb-like(data-href='https://hightband.dk', data-layout='button_count', data-action='like', data-show-faces='true', data-share='true')
    .row
      .columns.small-9.small-centered
        .logo-container.text-center.bigtext.logo
          span HIGH T BAND
        h2.subtitle
          i Autentiske bigbandoplevelser
        br
        h2.intro RATPACK + LINDY HOP
        .columns.small-12.medium-10.large-8.small-centered
          .ornament
        .text-center
          a(class='button success round' href='#', data-link='.page-contact') Book High T Band!
        .intro-text.text-left
          p
            - gpOutput::Get('Extra','intro');
    br
    br
    br
    .skyline-container
      img.skyline(src="images/skyline_long.svg", alt="skyline")
        