.page-introduction
  .city-livery
    img.stars-high(src="images/stars_high.png", alt="stars")
    img.stars-middle(src="images/stars_middle.png", alt="stars")
    img.stars-low(src="images/stars_low.png", alt="stars")
    .row
      .columns.small-9.small-centered
        .logo-container
          img.logo(src="images/logo.svg", alt="logo").hide-for-small-only
          h1.show-for-small-only HIGH T BAND
          h2.subtitle
            i Autentiske bigbandoplevelser
        h2.intro RATPACK + LINDY HOP
        .columns.small-7.small-centered
          .ornament
        .intro-text
          include:markdown ../pages/intro-text.md
    .skyline-container
      img.skyline(src="images/skyline_long.svg", alt="skyline")
        