.page-introduction
  .city-livery
    .text-left
      .fb-like(data-href='https://hightband.dk', data-layout='button_count', data-action='like', data-show-faces='true', data-share='true')
    .row
      .columns.small-9.small-centered
        br
        br
        br
        br
        br
        br
        .logo-container.text-center.bigtext.logo
          span.editable HIGH T 404
        h2.editable.subtitle
          i.red Siden blev ikke fundet !!
        br
        h2.editable.intro 
        .columns.small-12.medium-10.large-8.small-centered
          .ornament
        br
        .text-center
          a(href="http://www.hightband.dk" class="button success round") 
            i.fa.fa-arrow-left  Gå til www.hightband.dk
            

        
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    img.stars-high(src="images/stars_all.png", alt="stars" data-0="-webkit-transform: translate(0px,-200px);transform: translate(0px,-200px);" data-600="-webkit-transform: translate(0px,100px);transform: translate(0px,100px);")
    .skyline-container
      img.skyline(src="images/skyline_long.svg", alt="skyline" data-0="-webkit-transform: translate(10px,0px);transform: translate(10px,0px);" data-600="-webkit-transform: translate(-10px,180px);transform: translate(-10px,180px);")
        