.page-introduction
  .city-livery
    img.stars-high(src="images/stars_high.png", alt="stars")
    img.stars-middle(src="images/stars_middle.png", alt="stars")
    img.stars-low(src="images/stars_low.png", alt="stars")
    .row.green
      .columns.small-9.small-centered
        br
        br
        .bigtext.logo-container
          span 
            h1.logo HIGH T BAND
        h2.subtitle
          i Autentiske bigbandoplevelser
          br
        h2.intro RATPACK + LINDY HOP
        .columns.small-7.small-centered
          .ornament
        .intro-text
          p
            - gpOutput::Get('Extra','intro');
            - $page->GetContent();
    .skyline-container
      img.skyline(src="images/skyline_long.svg", alt="skyline")
        