.lindyhop
  img(itemprop='image', src='../images/lindyhop.png', alt='Lindy hop')
  br
  - gpOutput::Get('Extra','lindy');
  .ornament
  br
  blockquote
    p
      - gpOutput::Get('Extra','lindy-quote');
    footer
      - gpOutput::Get('Extra','lindy-customer');