.lindyhop.small-10.small-centered
  img(src="../images/lindyhop.png", alt="Lindy hop")
  br
  p <strong>High T Band</strong> har spillet til talrige dansearrangementer for de Københavnske <strong>Lindy Hop</strong> klubber. 
  p Herunder til 50’er fest i <strong>Store VEGA</strong> og Lindy Hop festival i <strong>Amager Bio</strong>.
  .ornament
  br
  blockquote
    p  "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
    footer -Taylow Swift, 60 års-fødselsdag