.lindyhop.small-10.small-centered
  img(src="../images/lindyhop.png", alt="Lindy hop")
  br
  p High T Band har spillet til talrige dansearrangementer for de Københavnske Lindy Hop klubber. Herunder til 50’er fest i Store VEGA og Lindy Hop festival i Amager Bio.
  .ornament
  br
  blockquote
    p  "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
    footer -Taylow Swift, 60 års-fødselsdag