.lindyhop
  img(src='../images/lindyhop.png', alt='Lindy hop')
  br
  p.editable <strong>High T Band</strong>&nbsp;har spillet til talrige dansearrangementer for de Københavnske <strong>Lindy Hop</strong>&nbsp;klubber.<br><br>Herunder til 50’er fest i&nbsp;<strong>Store VEGA</strong>&nbsp;og Lindy Hop festival i&nbsp;<strong>Amager Bio.</strong>
  .ornament
  br
  //- blockquote.editable Dette kan redigeres...
  //-   footer.editable Dette kan redigeres...
