.lindyhop
  img(src='../images/lindyhop.png', alt='Lindy hop')
  br
  p.editable Dette kan redigeres...
  .ornament
  br
  //- blockquote.editable Dette kan redigeres...
  //-   footer.editable Dette kan redigeres...
