a#foxyform_embed_link_661434(href='http://www.foxyform.com/') foxyform
  script(type='text/javascript').
    (function(d, t){
      var g = d.createElement(t),
      s = d.getElementsByTagName(t)[0];
      g.src = "http://www.foxyform.com/js.php?id=661434&sec_hash=d456ba278b6&width=350px";
      s.parentNode.insertBefore(g, s);
    }(document, "script"));
