<!-- JSON-LD-markering genereret af Google Markeringsværktøj til strukturerede data. -->
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "LocalBusiness",
  "name" : "HIGH T BAND",
  "image" : "http://hightband.dk/images/high-t-microdata-image.png",
  "telephone" : "23839090",
  "email" : "booking@hightband.dk",
  "address" : {
    "@type" : "PostalAddress",
    "streetAddress" : "Valmuebakken 44",
    "addressLocality" : "Vallensbæk",
    "addressCountry" : "Danmark",
    "postalCode" : "2625"
  },
  "url" : "http://hightband.dk/"
}
</script>