.page-music
  .skew.hide-for-small-only
  .row
    .columns.small-12.text-center
      h2 Lyd
      .columns.small-8.medium-5.small-centered
        .ornament.hide-for-small-only
      include soundcloud-all.html
    br
    br
    br
