.page-music
  .skew.hide-for-small-only
  .row
    .columns.small-12.text-center
      h2 Lyd
      .columns.small-8.medium-5.small-centered
        .ornament.hide-for-small-only
      br
      .columns.small-12.medium-4
        include soundcloud-ratpack.html
        br.show-for-small-only
      .columns.small-12.medium-4
        include soundcloud-classics.html
        br.show-for-small-only
      .columns.small-12.medium-4
        include soundcloud-lindyhop.html
    br
    br
    br
