.page-music
  .skew.hide-for-small-only
  .row
    .columns.small-12.text-center
      h2 Lyd
      .columns.small-8.medium-5.small-centered
        .ornament.hide-for-small-only
      div(data-interchange="[templates/interchange/soundcloud-link.html, (small)], [templates/interchange/soundcloud-top.html, (medium)], [templates/interchange/soundcloud-top.html, (large)]")
        include interchange/soundcloud-link.html

