img.hide-for-small-only.next.scroll(src="images/scroll.png", alt="scroll")
img.hide-for-small-only.prev.scroll(src="images/scroll-up.png", alt="scroll")
.fixed
  nav.top-bar(data-topbar, role='navigation')
    ul.title-area
      li.name
      li.toggle-topbar.menu-icon
        a(href='#')
          span
    section.top-bar-section
      ul.right
        li
          a(href="#" data-link='.page-introduction') Top
        li
          a(href="#" data-link='.page-categories') Musikken
        li
          a(href="#" data-link='.page-gallery') Billeder
        li
          a(href="#" data-link='.page-repertoire') Repertoire
        li
          a(href="#" data-link='.page-contact') Kontakt
