img.hide-for-small-only.next.scroll(src="images/scroll.png", alt="scroll")
.fixed
  nav.top-bar(data-topbar, role='navigation')
    ul.title-area
      li.name
      li.toggle-topbar.menu-icon
        a(href='#')
          span
    .top-bar-section
      ul.right
        li
          a(href="#" data-link='.page-introduction') 
            i.fa.fa-chevron-up
        li
          a(href="#" data-link='.page-categories') Ratpack+Lindyhop
        li
          a(href="#" data-link='.page-gallery') Billeder
        li
          a(href="#" data-link='.page-music') Lyd        
        li
          a(href="#" data-link='.page-video') Video
        //- li.show-for-medium-up
        //-   a(href='#', data-link='.page-social')
        //-     i.fa.fa-facebook.facebook-blue
        li
          a(href='#', data-link='.page-contact')
            i.fa.fa-envelope
      //- include theme-picker
