img.hide-for-small-only.next.scroll(src="images/scroll.png", alt="scroll")
img.hide-for-small-only.prev.scroll(src="images/scroll-up.png", alt="scroll")
.fixed
  nav.top-bar(data-topbar, role='navigation')
    ul.title-area
      li.name
      li.toggle-topbar.menu-icon
        a(href='#')
          span
    section.top-bar-section
      ul.right
        li
          a(href="#" data-link='.page-introduction') 
            i.fa.fa-chevron-up
        li
          a(href="#" data-link='.page-categories') Musikken
        li
          a(href="#" data-link='.page-gallery') Billeder
          li
            a(href='#', data-reveal-id='myFacebookModal')
              i.fa.fa-facebook.facebook-blue
            #myFacebookModal.reveal-modal.small(data-reveal='', aria-hidden='true', role='dialog')
              include facebook.html

        li
          a(href='#', data-reveal-id='myModal')
            i.fa.fa-envelope
          #myModal.reveal-modal.small(data-reveal='', aria-hidden='true', role='dialog')
            include foxy-form.html
      include theme-picker
