.ratpack
  img(src="../images/ratpack.png", alt="Rat pack")
  br
  p.editable Drømmer du om at Frank Sinatra eller Dean Martin kunne spille til dit bryllup, gallafest eller den runde fødselsdag?<br><br>I 2011 blev&nbsp;<strong>High T Band</strong>&nbsp;nummer 3 til&nbsp;<strong>DM i big band</strong>&nbsp;og med Jacob Søborg Andersen i spidsen leverer vi det bedste alternativ til “the real deal”.
  .ornament
  br
  //- blockquote.editable Dette kan redigeres...
  //-   footer.editable Dette kan redigeres...