.ratpack
  img(src="../images/ratpack.png", alt="Rat pack")
  br
  - gpOutput::Get('Extra','ratpack');
  .ornament
  br
  blockquote
    - gpOutput::Get('Extra','ratpack-quote');
    footer 
      - gpOutput::Get('Extra','lindy-customer');