.ratpack
  img(src="../images/ratpack.png", alt="Rat pack")
  br
  p.editable Dette kan redigeres...
  .ornament
  br
  //- blockquote.editable Dette kan redigeres...
  //-   footer.editable Dette kan redigeres...