.ratpack.small-10.small-centered
  img(src="../images/ratpack.png", alt="Rat pack")
  br
  p Drømmer du om at Frank Sinatra eller Dean Martin kunne spille til dit bryllup, gallafest eller den runde fødselsdag? I 2011 blev High T Band nummer 3 til <strong>DM i big band</strong> og  med Jacob Søborg Andersen i spidsen leverer vi det bedste alternativ til “the real deal”.
  .ornament
  br
  blockquote
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    footer -John Mayer, 60 års-fødselsdag