ul.theme-picker.hide-for-small-only
  li
    a(href="#" data-color="0")
      i.fa.fa-square
  li
    a(href="#" data-color="1")
      i.fa.fa-square(style="color: ")
  li
    a(href="#" data-color="2")
      i.fa.fa-square
  li
    a(href="#" data-color="3")
      i.fa.fa-square
  li
    a(href="#" data-color="4")
      i.fa.fa-square