.page-video
  .skew.hide-for-small-only
  .row
    .columns.small-12.text-center
      h2 Video
      .columns.small-8.medium-5.small-centered
        .ornament.hide-for-small-only
      br.hide-for-small-only
      .columns.small-12.medium-4
        .flexvideo
          include youtube-sing.html
      .columns.small-12.medium-4
        .flexvideo
          include youtube-taint1.html
      .columns.small-12.medium-4
        .flexvideo
          include youtube-taint2.html

